.wrapper {
    --search-height: 46px;
    --search-top-spacer: 9px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 1px 1px rgba(20, 20, 20, 0.509);
    height: var(--default-layout-header-height);
    display: flex;
    justify-content: center;
    background-color: rgb(13, 13, 13);
}

.inner {
    height: 100%;
    width: var(--default-layout-header-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

//Actions
.actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.upload_icon {
    color: white;
    background-color: transparent;
    font-size: 2rem;
}

.avartar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 18px;
}

.more_icon {
    color: white;
    font-size: 1.6rem;
    width: 20px;
    background-color: transparent;
    margin-left: 16px;
    padding: 4px;
    cursor: pointer;
}
