.wrapper {
    display: flex;
    align-items: center;
    padding-left: 8px;
    margin: 4px 0;

    &:hover {
        cursor: pointer;
        background-color: rgba(200, 200, 200, 0.42);
    }
}

.avartar {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.infor {
    flex: 1;
    margin-left: 8px;
}

.name {
    margin: 0 0 4px 0;
}

.username {
    color: rgb(107, 107, 107);
}
